{% extends 'movies/base.html' %}
{% load static %}
{% block title %} {{ movie.title }} {% endblock title %}
{% block container %}
<div class="container py-md-3">
    {% endblock container %}

    {% block side-bar %}
    <div class="side-bar col-lg-4">
        {% endblock side-bar %}

        {% block movie %}
        <div class="left-ads-display col-lg-8">
            <div class="row">
                <div class="desc1-left col-md-6">
                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                </div>
                <div class="desc1-right col-md-6 pl-lg-4">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                        {{ movie.title }}
                    </h3>
                    <h5 class="editContent"></h5>
                    <ul>
                        <li>
                            <span><b>Date of birth:</b> {{ movie.year }}</span></li>
                        <li>
                            <span><b>Director:</b>
                                {% for director in movie.directors.all %}
                                    {{ director.name }}
                                {% endfor %}
                            </span>
                        </li>
                        <li>
                             <span><b>Актер:</b>
                                    {% for actor in movie.actors.all %}
                                        {{ actor.name }}
                                    {% endfor %}
                             </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row sub-para-w3layouts mt-5">
                <h3 class="shop-sing editContent">
                    О {{ movie.title }}
                </h3>
                    <p class="editContent">
                        {{ movie.description|safe }}
                    </p>
            </div>
        </div>
    </div>
</div>
{% endblock movie %}